<!DOCTYPE html>
<html>
    <head>
        <title>HVL Lab, NIT Durgapur</title>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--for the recaptcha-->
        <script src='https://www.google.com/recaptcha/api.js'></script>

        
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/forparticles.css">
    </head>
    
    <body style="min-height:100%">
    <nav style="max-width:100%" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/index">HVL Lab, NIT Durgapur</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
           
          <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
              <% } else { %>
                  <li><a href="http://calendly.com/highvoltagelab2008" target="_blank">Schedule a session for EXP. 1</a></li>
                  <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                  <li><a href="/logout">Logout</a></li>
              <% } %>
          </ul>
        </div>
    </div>
</nav>
    <!--since flash messages can be a part of each and every route that is why we define flash messages in the header.ejs-->
    <!--this part checks if there is a error message or success message and then displays accordingly using flash and bootstrap classes-->
    <div class="container">
        <!--if there is error and length of error is greater than 0 then we display the error-->
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <!--similarly for success-->
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
 